@import "bulma";

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.nav-item img {
    max-height: 53px;
}

.nav-item{
	font-family: 'Julius Sans One', sans-serif;
}    


/* -------------------------------------------------------------*?
// About Section //
/* -------------------------------------------------------------*/

.aboutMe {
  height: 100%;
  width: 100%;
  background-color: rgba(106, 127, 121, 0.9);
  overflow: hidden;
  position: relative; 
  margin-top: 114px;
}
  .aboutMe .about {
    overflow: hidden;
    width: 75%;
    margin: auto; 
}
  .aboutMe h3 {
    color: #FBF7E4;
    font-size: 88px; 
    text-align: center;
}
    .aboutMe h3 .fa {
      font-size: .5em;
      position: absolute;
      top: .5em;
      right: .5em;
      opacity: .6;
      cursor: pointer; 
  }
      .aboutMe h3 .fa:hover {
        opacity: .9; 
    }
  .aboutMe .aboutInfo {
    overflow: hidden; 
}
  .aboutMe p {
    color: #FBF7E4;
    margin: auto;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.5em;
    text-align: center; 
}
  .aboutMe .me-image {
    overflow: hidden;
    height: 20em;
    width: 20em;
    border-radius: 50%;
    margin: 3em auto;
    border: 0.1em solid #6A7F79; 
}
 
/* -------------------------------------------------------------*?
// Portfolio Section //
/* -------------------------------------------------------------*/

 	
 .folioTable {
  margin: 3%;
  margin-left: 118px;
  background-color: lightgrey;
  opacity: .9;
  width: 372px;
  float: left;
  padding: 3%;
  font-family: 'Julius Sans One', sans-serif;
  border-style: dotted;
  border-radius: 5px;
  height: 461px;
  overflow: hidden;
  position: relative;

}

.revealDesc {
  visibility: hidden;
  z-index: 2;
  background-color: #0D394C;
  opacity: .95;
  color: black;
  padding: 10px;
  position: absolute;
  bottom: -193px;
  font-size: 22px;
  width: 295px;
  height: 380px;
  overflow: auto;
  transition: all 0.5s ease;
}

.folioTable:hover .revealDesc {
  visibility: visible;
  display: block;
  background-color: rgba(255,255,255,0.9);
  bottom: 0;

}

.card-footer-item{
	color: brown;
}

/* -------------------------------------------------------------*?
// Resume Section //
/* -------------------------------------------------------------*/

i{
	margin-right:20px;
	color:#FBF7E4;

}

.resumeBody{
	height: 100%;
	width: 100%;
	background-color: rgba(106, 127, 121, 0.9);
	color:#FBF7E4;
	overflow: hidden;
	position: relative;
	margin-top: 114px;
	font-family: 'Julius Sans One', sans-serif;
}

.resume-wrapper ul {
	list-style: disc; 
}

.resume-wrapper .resume-header {
	background: none;
	box-shadow: 0px 0.5px 2px #B0B0A3; 
}
.resume-wrapper .resume-header .innerheader {
	margin-bottom: 0;
	margin-top: 0; 
}
.resume-wrapper .resume-header .innerheader .logo {
	float: none;
	width: 100%;
	overflow: hidden;
	text-align: center; 
}
.resume-wrapper .resume-header .innerheader .logo h1 {
	font-size: 4em;
	color:#FBF7E4;
}
.resume-wrapper .resume-header .innerheader .rightheader {
	float: none;
	width: 100%;
	text-align: center;
	margin: 0; 
}
.resume-wrapper .resume-header .innerheader .rightheader nav {
	float: none;
	text-align: center;
	margin: auto; 
}
.resume-wrapper .resume-header .innerheader .rightheader button {
	display: block;
	color:#FBF7E4;
	background-color: rgba(106, 127, 121, 0.9);
	border: 1px solid #B0B0A3;
	border-radius: 4px;
	color: #B0B0A3;
	position: absolute;
	top: 10px;
	right: 10px; 
}
.resume-wrapper .resume-header .innerheader .rightheader button .fa {
	margin-right: 1em; 
}
.resume-wrapper .resume-header .innerheader .rightheader button:hover {
	color: #FAFAFA;
	border: 1px solid #555555;
	border-radius: 4px; 
}

.resume-wrapper .resume-content {
	padding-top: 1em;
	width: 100%;
	clear: both; 
}
.resume-wrapper .resume-content .inner-content {
	width: 80%;
	margin: auto; 
}
.resume-wrapper .resume-content .inner-content p {
	line-height: 170%; 
}
.resume-wrapper .resume-content .inner-content h4 {
	font-size: 3em;
	font-family: 'Julius Sans One', sans-serif;
}
.resume-wrapper .resume-content .inner-content .about p {
	-webkit-box-shadow: 0px 0.5px 2px #B0B0A3;
	-moz-box-shadow: 0px 0.5px 2px #B0B0A3;
	-o-box-shadow: 0px 0.5px 2px #B0B0A3;
	box-shadow: 0px 0.5px 2px #B0B0A3;
	padding: 1em; 
}
.resume-wrapper .resume-content .inner-content .skills {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto; 
}
.resume-wrapper .resume-content .inner-content .skills::after {
	clear: both;
	content: "";
	display: table; 
}
.resume-wrapper .resume-content .inner-content .skills .skill-box {
	-webkit-box-shadow: 0px 0.5px 2px #B0B0A3;
	-moz-box-shadow: 0px 0.5px 2px #B0B0A3;
	-o-box-shadow: 0px 0.5px 2px #B0B0A3;
	box-shadow: 0px 0.5px 2px #B0B0A3;
	padding: 1em;
	float: left;
	display: block;
	margin-right: 2.35765%;
	width: 23.23176%; 
}
.resume-wrapper .resume-content .inner-content .skills .skill-box:last-child {
	margin-right: 0; 
}
.resume-wrapper .resume-content .inner-content .previous-experience .experience-name {
	display: none; 
}
.resume-wrapper .resume-content .inner-content .previous-experience .experience-box {
	overflow: hidden;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-shadow: 0px 0.5px 2px #B0B0A3;
	-moz-box-shadow: 0px 0.5px 2px #B0B0A3;
	-o-box-shadow: 0px 0.5px 2px #B0B0A3;
	box-shadow: 0px 0.5px 2px #B0B0A3;
	padding: 1em;
	margin: 2em 0; 
}
.resume-wrapper .resume-content .inner-content .previous-experience .experience-box::after {
	clear: both;
	content: "";
	display: table; 
}
.resume-wrapper .resume-content .inner-content .previous-experience .experience-box .experience-logo {
	overflow: hidden;
	height: 15em;
	float: left;
	width: 35%; 
}
.resume-wrapper .resume-content .inner-content .previous-experience .experience-box .experience-logo img {
	height: 100%;
	width: auto; 
}
.resume-wrapper .resume-content .inner-content .previous-experience .experience-box .descriptions-left {
	float: left;
	display: block;
	margin-right: 2.35765%;
	width: 40.29137%;
	float: left;
	width: 60%;
	padding: 2em; 
}
.resume-wrapper .resume-content .inner-content .previous-experience .experience-box .descriptions-left:last-child {
	margin-right: 0; 
}
.resume-wrapper .resume-content .inner-content .previous-experience .experience-box .experience-description {
	width: 65%;
	overflow: hidden;
	padding: 2em; 
}
.resume-wrapper .resume-content .inner-content .previous-experience .experience-box .experience-description .descriptions-right {
	overflow: hidden; 
}
.resume-wrapper .resume-content .inner-content .previous-experience .experience-box .experience-description .descriptions-right ul {
	margin-left: 2em; 
}
.resume-wrapper .resume-content .inner-content .previous-experience .experience-box .experience-description .descriptions-right .iron-yard-list, .resume-wrapper .resume-content .inner-content .previous-experience .experience-box .experience-description .descriptions-right .skills-list {
	list-style: none; 
}
.resume-wrapper .resume-content .inner-content .previous-experience .experience-box .experience-description .descriptions-right .iron-yard-list p, .resume-wrapper .resume-content .inner-content .previous-experience .experience-box .experience-description .descriptions-right .skills-list p {
	margin: .5em; 
}
.resume-wrapper .resume-content .inner-content .previous-experience .experience-box .experience-description .descriptions-right .iron-yard-list span, .resume-wrapper .resume-content .inner-content .previous-experience .experience-box .experience-description .descriptions-right .skills-list span {
	font-weight: 900;
	font-size: 1.3em; 
}
.resume-wrapper .resume-content .education .education-box {
	overflow: hidden;
	-webkit-box-shadow: 0px 0.5px 2px #B0B0A3;
	-moz-box-shadow: 0px 0.5px 2px #B0B0A3;
	-o-box-shadow: 0px 0.5px 2px #B0B0A3;
	box-shadow: 0px 0.5px 2px #B0B0A3;
	padding: 1em;
	margin: 2em 0; 
}
.resume-wrapper .resume-content .education .education-box p {
	margin: .5em; 
}

.project-link {
	font-size: 1.3em; 
}

/* -------------------------------------------------------------*?
// Contact Me Section //
/* -------------------------------------------------------------*/

.contact-me-section{
	height: 100%;
	width: 100%;
	background-color: rgba(106, 127, 121, 0.9);
	overflow: hidden;
	position: relative; 
	margin-top: 114px;
}
 
 .contact-me-section .contact-info {
    overflow: hidden;
    width: 75%;
    margin: auto; 
} 
.contact-me-section h3 {
    color: #FBF7E4;
    font-size: 74px;
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    margin-right: 380px;
}
.contact-me-section h3 .fa {
	font-size: .5em;
	position: absolute;
	top: .5em;
	right: .5em;
	opacity: .6;
	cursor: pointer; 
}
  .contact-me-section h3 .fa:hover {
    opacity: .9; 
}

.contact {
	overflow: hidden;
	overflow: hidden;
	position: relative;
	width: 100%;
	max-height: 100vh; 
}
.contact h3 {
	color: #FBF7E4; 
}
.contact h3 .fa {
	font-size: .5em;
	position: absolute;
	top: .5em;
	right: .5em;
	opacity: .6;
	cursor: pointer; 
}
.contact h3 .fa:hover {
	opacity: .9; 
}

/* -------------------------------------------------------------*?
// Contact Me Section //
/* -------------------------------------------------------------*/

.contact-me-section .contact-info {
	margin-left: 20em; 
}
@media screen and (max-width: 800px) {
	.contact-me-section .contact-info {
		margin-left: 0; 
	} 
}
.contact-me-section .contact-info a {
	color: #FBF7E4; 
}
.contact-me-section .contact-info p {
	color: #FBF7E4;
	font-size: 2em;
	font-family: 'Julius Sans One', sans-serif;
	font-weight: 800; 
}
@media screen and (max-width: 800px) {
	.contact-me-section .contact-info p {
		font-size: 2.2em; 
	} 
}
.contact-me-section .contact-info p:hover {
	color: #FAFAFA; 
}
.contact-me-section .contact-info p i {
	padding: .5em 1em; 
}