<section class="aboutMe" >
  <div class="about">
    <h3>Who am I <i class="fa fa-angle-double-up" ng-click="home.scrollToTop('layout')"></h3>
    <div class="aboutInfo">
      <p>Hi, I'm DaQunda a Front-End Engineer. I’m an ambitious individual who never gives up, even when the task seems impossible. Programming is a passion I’ve been striving toward for awhile. Now that I have those tools, I intend to use them on my new 
      path to tech.
      </p>
    <div class="me-image">
      <img class="qunda" src="./images/me.png">
    </div>
  </div>
</section>
