<div class="contact-me-section">
  <div class="contact-info">
  <h3>CONTACT ME<i class="fa fa-angle-double-up" ng-click="scrollToTop('header')"></i></h3>
    <a href="mailto:dmagwood13@gmail.com">
      <p><i class="fa fa-envelope"></i>Email me at dmagwood13@gmail.com</p>
    </a>
    <a href="https://www.linkedin.com/in/daqunda-magwood-40b208b5?trk=hp-identity-name>" target="_blank">
      <p><i class="fa fa-linkedin"></i>Connect with me on LinkedIn</p>
    </a>
    <p><i class="fa fa-phone"></i>Call Me at 843-599-0171</p>
    <a href="https://destinedforlife.com" target="_blank">
      <p><i class="fa fa-medium"></i>Read my blog</p>
    </a>
    <a href="https://github.com/SimplyyQunda" target="_blank">
      <p><i class="fa fa-github"></i>Check out my code</p>
    </a>
  </div>

</div>