<div class="wrapper" ng-click="layout.clickMe()">
    <nav class="nav">
      <div class="nav-left">
        <a class="nav-item logo" href="#!/home">
          <img src="./images/Magwood.png"" alt="DaQunda logo">
        </a>

      </div>
      
      <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>

      <div class="nav-right social-media">
        <a class="nav-item" href="https://github.com/SimplyyQunda">
          <span class="icon">
            <i class="fa fa-github"></i>
          </span>
        </a>

        <a class="nav-item" href="https://twitter.com/SimplyyQunda">
          <span class="icon">
            <i class="fa fa-twitter"></i>
          </span>
        </a>

        <a class="nav-item" href="https://www.linkedin.com/in/daqunda-magwood-40b208b5?trk=hp-identity-name>
          <span class="icon">
            <i class="fa fa-linkedin"></i>
          </span>
        </a>

      </div>

      <div class="nav-right nav-menu">
        <a class="nav-item" href="#!/home">
          About
        </a>
        <a class="nav-item" href="#!/home">
          Portfolio
        </a>
        <a class="nav-item" href="#!/resume">
          Resume
        </a>
        <a class="nav-item" href="http://www.destinedforlife.com/">
          Blog
        </a>
        <a class="nav-item" href="#!/home">
          Contact
        </a>
        
      </div>
    </nav>
  <div class="main-content" ui-view> </div>
</div>