<div class="main-content">

  <div class="folioDetails">
    <div class="folioTable" ng-repeat="all in home.all">
      <div class="card is-fullwidth">
          <header class="card-header">
            <div class="revealDesc">
              <p>{{all.projDescription}}</p>
              <br>
              <p>Front-End Tools: {{all.FrontEndTool}}</p>
              <br>
              <p>Back-End Tools: {{all.backendTool}}</p>
              <br>
              <p> CSS Tools: {{all.cssTool}}</p>
            </div>

            <p class="card-header-title">
              <img class= "media-object" src="{{all.thumbnail}}">
            </p>
          </header>
        <div class="card-content has-text-centered">
          <h1 class="title">{{all.projName}}</h1>
          <div class="content">
            {{all.projTask}}
          </div>
        </div>
        <footer class="card-footer">
          <a href="{{all.projUrl}}" class="card-footer-item">Demo</a>
          <a href="{{all.githubUrl}}" class="card-footer-item">Code</a>
        </footer>
      </div>
    </div>
  </div>

</div>