<div class="resumeBody"> 
  <div class="single-wrapper resume-wrapper">

    <div class="resume-header header" ng-controller="PortfolioCtrl">
      <div class="outerheader topheader">
        <div class="innerheader">
          <a href="#!/home"><div class="logo">
            <h1 class="qunda">DaQunda Magwood</h1>
          </a>  
            <!-- <h1 class="rose">rose</h1> -->
            <h4>Front-End Developer</h4>
          </div>
          <div class="rightheader">
            <nav>
              <a href="mailto:dmagwood13@gmail.com"><i class="contact fa fa-envelope-o fa-2x"></i></a>
              <a href="https://github.com/SimplyyQunda" target="_blank"><i class="contact fa fa-github fa-2x"></i></a>
              <a href="https://www.linkedin.com/in/daqunda-magwood-40b208b5?trk=hp-identity-name>" target="_blank"><i class="contact fa fa-linkedin fa-2x"></i></a>
            </nav>
            <a href="images/DaQundaMagwoodResume.pdf" download="DaQundaMagwoodResume.pdf">
              <button><i class="fa fa-download"></i>PDF Version</button>
            </a>
          </div>
        </div>
      </div>
      <!-- <div class="scroll-arrow"><i class="fa fa-angle-double-down" ng-click="scrollTo('.container')"></i></div> -->
    </div> <!-- end resume-header div -->

    <section class="resume-content">
      <div class="inner-content">

          <div class="about">
            <h4>Summary</h4>
            <hr />
            <p>I’m an ambitious individual who never gives up, even when the task seems impossible. Programming is a passion I’ve been striving toward for awhile. Now that I have those tools, I intend to use them on my new 
            path to tech.</p>
          </div><!-- end about div -->

          <div class="skills">
            <h4>Skills</h4>
            <hr />
            <div class="skill-box">
              <h5>JavaScript</h5>
              <ul>
                <li>Vanilla JavaScript</li>
                <li>jQuery</li>
                <li>AngularJS</li>
              </ul>
            </div>
            <div class="skill-box">
              <h5>Task Management &amp; Workflow</h5>
              <ul>
                <li>Sublime</li>
                <li>Git</li>
                <li>GitHub</li>
              </ul>
            </div>
            <div class="skill-box">
              <h5>HTML / CSS</h5>
              <ul>
                <li>HTML</li>
                <li>SASS</li>
              </ul>
            </div>
          </div><!-- end skills div -->

          <div class="previous-experience">
            <h4>Relevant Experience</h4>
            <hr />

            <div class="experience-box ironyard">

              <div class="experience-logo">
                <img src="images/tiy_logo.jpg">
              </div>

                <div class="descriptions-left">
                  <h6 class="experience-name">The Iron Yard</h6>
                  <div class="experience-time">
                    <p>September 2016 - December 2016</p>
                  </div>
                    <h5>Front End Engineering</h5>
                    <p><em>Atlanta, GA</em></p>
                </div>

              <div class="experience-description">

                <div class="descriptions-right">
                  <ul class="skills-list iron-yard-list">

                  <li>
                    <p><span>Project: </span>PinPoint</p>
                    <p><span>Description: </span>The PinPoint experience makes Youtube simpler for both user and youtube creator. My app organizes the top channels by detailed custom categories. </p>
                    <p><span>Tools Used: <span></p>
                    <ul>
                      <li>HTML</li>
                      <li>CSS, SASS</li>
                      <li>JavaScript, jQuery, AngularJS, Angular UI Router</li>
                      <li>AdonisJS was used for Backend</li>
                    </ul>
                  </li>

                  <hr />

                  <li>
                    <p><span>Project: </span>SnapOgram</p>
                    <p><span>Description: </span>CSnapOgram is Instagram with a twist! Users add their favorite natural or animal picture.</p>
                    <p><span>Tools Used: </span></p>
                    <ul>
                      <li>HTML5</li>
                      <li>CSS, SASS</li>
                      <li>JavaScript, jQuery, AngularJS, Angular UI Route</li>
                      <li> AdonisJS was used as Backend on development team</li>
                    </ul>
                  </li>

            </div><!-- end ironyard div -->

            <div class="experience-box airwatch">

              <div class="experience-logo">
                <img src="images/lowcellogo.png">
              </div>

                <div class="descriptions-left">
                  <h6 class="experience-name">LowCountry Cellular</h6>

                  <div class="experience-time">
                    <p>January 2010 - July 2013</p>
                  </div>
                    <h5>Manager &amp; Wireless Sales Consultant</h5>
                    <p><em>Walterboro, SC</em></p>
                </div>

              <div class="experience-description">


                <div class="descriptions-right">
                  <ul>
                    <li class="list">
                      Assisted as co-owner for administrative duties
                    </li>
                    <li class="list">
                      Solved problems for wireless devices and consulted customers with technical issues
                    </li>
                  </ul>
                </div>
              </div>

            </div><!-- end airwatch div -->

            <div class="experience-box pinnacle-promotions">

              <div class="experience-logo">
                <img src="images/wwc_logo.png">
              </div>

                <div class="descriptions-left">
                  <h6 class="experience-name">Women Who Code-SEA</h6>

                  <div class="experience-time">
                    <p>March 2016</p>
                  </div>
                    <h5>Attendee of CONNECT 2016 Conference</h5>
                    <p><em>Seattle, WA</em></p>
                  </div>

              <div class="experience-description">

                <div class="descriptions-box">
                  <ul> Relevant Workshops:
                    <li class="list">
                      Pair Programming | Neha Batra
                    </li>
                    <li class="list">
                      Craft and Code :: JavaScript Loops and Understanding  Knitting Patterns | Haley Elde
                    </li>
                  </ul>
                </div>
              </div>

            </div><!-- end pinnacle div -->

          </div><!-- end prev experience div -->

          <div class="education">
            <h4>Education</h4>
            <hr />
            <div class="experience-logo">
                    <img src="images/catawba.png">
                </div>
            <div class="education-box">
              <p>Catawba College</p><p>Salisbury, NC</p><p>August 2013 – May 2015</p>
              <p>Business Administration, Concentration in Information Systems</p>
            <ul> Relevant Courses:
              <li>
                IS 2505 Application Program Development
              </li>
              <li>
                IS 2528 Advanced Application Program Development 
              </li>
            </ul>
            </div>
          </div><!-- end education div -->
        </div>

    </section>

    </div>
</div> 